
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Headlines</title>
</head>
<body>
<h1>Hello, {{name}}!</h1>
<p>
Today's technology headlines are...
  </p>
    <p style="margin-left: 40px">
        1. {{headlines[0]}}
</p>
   <p style="margin-left: 40px">
	2. {{headlines[1]}}
   </p>
   <p style="margin-left: 40px">
3. {{headlines[2]}}
   </p>
   <p style="margin-left: 40px">
4. {{headlines[3]}}
   </p>
   <p style="margin-left: 40px">
5. {{headlines[4]}}
    </p>

</body>
</html>